
.titre{
    padding-left: 50px;
}
.bloc{
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    padding-left: 50px;
}
.photo{
    padding-right: 50px;
}
.paragraphe{
    font-size: 20px ;
}
<<<<<<< HEAD
.pizza{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.photo{
    width: 50%;
    height: 50%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 20px;
    /*text-align: center;*/
  }
  
.mentions_legales {
    font-size: 14px;
    color: #888;
  }
.fa-instagram{
    padding-right: 20px;
=======

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(255,0,0);
    background: linear-gradient(144deg, rgba(255,0,0,1) 0%, rgba(237,237,237,1) 50%, rgba(5,85,0,1) 100%);
}

.logo img{
    border: 0;
}

nav{
    display: flex;
    flex-direction: row;
    font-size: 250%;
    margin-right: 20%;
}

nav div{
    margin: 5%;
>>>>>>> 6c5248100daebe0d104bc90f91a6fc8a04edf2b0
}